/* Default styles - small devices (Mobile, screen width < 768px) */

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body {
    font-family: "Barlow", sans-serif;
}
h1, h2,h3, h4,h5,h6 {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 600;
    letter-spacing: .365rem;
}
.section-title h2 {
    text-transform: uppercase;
    font-size: 3rem;
}
.bg-gray {
    background-color: var(--gray);
}
.orange-divider {
    width: 100%;
    height: 1.5rem;
    background-color: var(--orange);
}
.btn-gray {
    background-color: var(--grayDark);
    padding: .9rem 1.35rem;
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: .875rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--black);
    transition: all .3s ease;
}
.btn-gray:hover {
    background-color: var(--orange);
    color: var(--white);
}
.btn-gray span {
    transition: transform .5s ease;
}
.btn-gray:hover span {
    transform: translateX(3px);
    display: inline-block;
}

.title-container {
    background-color: var(--black);
    position: absolute;
    top: 4rem;
    left: 0;
    padding: 2rem 3rem;
}
.title-container h2 {
    color: var(--white);
    font-size: 2rem;
    text-transform: uppercase;
    z-index: 9!important;
}
.section {
    overflow: hidden;
}
/*--------------------------------------------------------------
# Main Navigation
--------------------------------------------------------------*/
.logo-mobile {
    padding-left: calc(var(--bs-gutter-x)* .5);
}
.nav-outer {
    background-color: var(--black);
    position: relative;
}

.navbar-toggler {
    border: none;
}

#main-nav .active {
    background-color: var(--orange);
}

#main-nav a {
    /* text-transform: uppercase; */
    color: #ffffff;
    font-weight: 400;
    transition: all .3s;
}
#main-nav .nav-item:hover a:not(#main-nav .dropdown a){
    color: var(--orange);
}
#main-nav .nav-item:active a:not(#main-nav .dropdown a){
    color: var(--red);
}



/* #main-nav .nav-item {
    border-bottom: 1px solid var(--light);
} */
/* #main-nav .nav-item.active {

    background-color: var(--light);
} */
#main-nav .btn {
    font-size: 18px;
}

#main-nav .active a {
     color: var(--black);
}

#main-nav .btn {
    font-size: 18px;
}

.nav-outer .container {
    padding: 0;
}


.navbar ul {
    padding: 0;
}

    .navbar ul li, .site-logo-top, .navbar-toggler, .mobile-search-btn {
        padding-left: calc(var(--bs-gutter-x) * .5);
        padding-right: calc(var(--bs-gutter-x) * .5);
    }

        .navbar-nav .nav-item, .navbar ul li:first-child:not #main-nav .dropdown ul li {
            padding: 1rem calc(var(--bs-gutter-x) * .5);
        }

        .navbar a {
            /* padding: 0; */
            
        }
        .nav-contact-contain {
            padding: 0 calc(var(--bs-gutter-x) * .5);
        }



/* .top-bar {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    box-sizing: border-box;
} */

/* Collapse Button Mobile */
.animated-icon {
    cursor: pointer;
    height: 20px;
    margin: 0px;
    position: relative;
    width: 30px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

    .animated-icon span {
        border-radius: 9px;
        display: block;
        height: 3px;
        position: absolute;
        left: 0;
        opacity: 1;
        width: 100%;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    .animated-icon span {
        background: #ffffff;
    }

        .animated-icon span:nth-child(1) {
            top: 0px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }

        .animated-icon span:nth-child(2) {
            top: 10px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }

        .animated-icon span:nth-child(3) {
            top: 20px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }

    .animated-icon.open span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0px;
        left: 8px;
    }

    .animated-icon.open span:nth-child(2) {
        width: 0%;
        opacity: 0;
    }

    .animated-icon.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 21px;
        left: 8px;
    }

    #main-nav .logo-top {
        width: 15rem;
    }


    /* dropdown  */

    
    #main-nav .dropdown ul {
        background-color: var(--black);
        border: none;
        transition: all .3s;
    }

    #main-nav .dropdown a:active:not(#main-nav .dropdown ul li a:active) {
        color: var(--white);
    }
    #main-nav .dropdown a:hover:not(#main-nav .dropdown ul li a:hover) {
        color: var(--gray);
    }


    #main-nav .dropdown-item:active {
        color: var(--orange);
        background-color: var(--black);
    }
    #main-nav .dropdown-item:hover {
        color: var(--orange);
        background-color: var(--black);
    }
    .dropdown-toggle::after {
        content: "+"; 
        color: var(--orange);
        display: inline-block;
        margin-left: .255em;
        /* vertical-align: .255em; */
        font-weight: bold; 
        border: none;
        vertical-align: 0.1em;
        transition: all 0.3s ease;
        transform-origin: 50% 50%;
    }
    .dropdown-toggle[aria-expanded="true"]::after {
        transform: rotate(180deg);
        /* transform-origin: 50% 50%; */
        vertical-align: -0.1em;
        margin-top: .2em;
    }
    #main-nav .dropdown-item {
        padding-top: .35rem;
    }
    #main-nav .dropdown-item:last-of-type {
        padding-bottom: .35rem;
    }
    #main-nav .nav-item.active.dropdown {
        background-color: var(--black);
    }
    #main-nav .nav-item.active.dropdown a {
        color: var(--orange)!important;
    }
    #main-nav .nav-item.active ul li .dropdown-item {
        color: var(--white)!important;
    }
  #main-nav {
    z-index: 9;
  }

.nav-gradient {
    background: rgb(33, 30, 32);
    background: linear-gradient(0deg, rgba(33, 30, 32, 0) 0%, rgba(33, 30, 32, 0.5298713235294117) 46%, rgba(33, 30, 32, 1) 87%);
    height: 45rem;
    position: absolute;
    width: 100vw;
    bottom: -44.9rem;
    z-index: 0;
}
/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/

.hero {
    height: 40rem;
    position: relative;
}
.hero .hero-img {
    position: absolute;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -999;
}
.hero-gradient {
    background: rgb(33, 30, 32);
    background: linear-gradient(0deg, rgba(33, 30, 32, 0) 0%, rgb(33, 30, 32) 99%);
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
}
.hero h1 {
    color: var(--orange);
    font-size: 4rem;
    font-weight: 600;
}
.hero h1 span {
    color: var(--white);
}

.hero .hero-svg {
    width: 23rem;
    max-width: 100%;
    position: absolute;
    bottom: -10vh;
    left: -20vw;
}
.hero a:hover {
    cursor: pointer;
}

/*--------------------------------------------------------------
# Landing-cards
--------------------------------------------------------------*/
.landing-cards a {
    text-decoration: none;
    color: var(--black);
}

.landing-cards .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    position: relative;
    border-radius: 0;
    height: 100%!important;
    max-height: 100%;
    background-color: transparent;
}

.landing-cards .card > *{
    transition: all .6s ease;
}

.landing-cards .card-img-container {
    background-color: var(--black);
    border: 5px solid var(--orange);
    border-radius: 50%;
    padding: 4rem;
    width: 4.5rem;
    height: 4.5rem;
    margin-bottom: -4rem;
    z-index: 1;
    position: relative;

}
.landing-cards .card-img-container img {
    max-width: 75%;
    
    height: 55%;
    z-index: 999;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.landing-cards .card .card-body {
    border: 3px solid var(--grayDark);
    width: 100%;
    padding-top: 5.5rem;
    padding-bottom: 0;
    background-color: var(--white);
}
.landing-cards .card .card-body h3 {
    font-weight: 400;
    font-size: 2rem;
}
.landing-cards .card .card-body .card-btn {
    background-color: var(--grayDark);
    padding: .9rem 1.35rem;
}
.landing-cards .card .card-body .card-btn p {
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: .875rem;
    font-weight: 600;
}

.landing-cards .card:hover .card-body, .landing-cards .card.active .card-body{
    background-color: var(--red);
}

.landing-cards .card:hover h3, .landing-cards .card.active h3{
    color: var(--white);
}

.landing-cards .card:hover .card-btn, .landing-cards .card.active .card-btn {
    background-color: var(--red);
}
.landing-cards .card:hover .card-btn p, .landing-cards .card.active .card-btn p {
    color: var(--red);
}

/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about-us .container-fluid {
    position: relative;
}
.about-us img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.about-us .text-col {
    background-color: var(--white);
    font-size: 1.125rem;
    margin-top: 6rem;
    padding: 3rem 1.5rem 1.5rem 3rem;
    z-index: 0;
}

/*--------------------------------------------------------------
# Accreditations
--------------------------------------------------------------*/
.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}