/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .hero .hero-svg {
        left: -20vw;
    }
    .hero {
        height: 30rem;
    }

    .section-title h2 {
        font-size: 3rem;
    }

    .testimonials img {
       margin-bottom: 0;
    }

    .why-choose-us .text-col {
        padding: 2rem 3rem;
        margin-top: 3rem;
    }

    .why-choose-us .text-col ul svg {
        width: 3rem;
        height: 3rem;
    }

    .why-choose-us .text-col ul li {
        margin: 2rem 0;
    }
    .why-choose-us .cta img {
        width: 25%;
    }
    

     /* Footer - Medium devices */
    
  .shfooter .collapse {
    display: none;
}

    


}