/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .hero .hero-svg {
        left: -5vw;
        bottom: -10vw;
        width: 25rem;
    }
    .hero {
        height: 32rem;
    }
    .hero h1 {

    }
}