/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .hero .hero-svg {
        left: -5vw;
        bottom: -10vw;
        width: 25rem;
    }
    .hero {
        height: 32rem;
    }
    .title-container {
        top: 4rem;
        left: 0;
        padding: 2.5rem 4rem 2.5rem 7%;
    }
    .title-container h2 {
        font-size: 2.5rem;
    }
    
    .about-us .text-col {
        font-size: 1.125rem;
        /* margin-top: 8.25rem; */
        padding: 3rem 5rem 2rem 5rem;
        margin-top: 7rem;
    }

    .testimonials .img-col {
        position: relative;
    }
    .testimonials .text-col {
        padding-right: 3rem;
        
    }
    .testimonials img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 105%;
    }
    .testimonials .title-container {
        padding: 2.5rem 4rem 2.5rem 9%;
    }
    .why-choose-us .text-col {
        margin-top: 2rem;
    }

    .why-choose-us .text-col ul li {
        font-size: 2.25rem;
    }
}