/* Extra large devices (large desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    #main-nav .nav-div {
        width: 2px;
        height: 1rem;
        background-color: var(--yellow);
    }
    .logo-top {
        width: 200px;
    }
    #main-nav .active a {
        color: var(--blue);
   }
   #main-nav .active {
    background-color: var(--black);
}

 .dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    margin-top: 0;
    transition: all 0.3s ease;
}
#main-nav .nav-item.dropdown:hover a:not(#main-nav .nav-item.dropdown:hover ul li a) {
    color: var(--white);
}
#main-nav .nav-item.dropdown ul li a {
    color: var(--white);
}
#main-nav .nav-item.dropdown ul li a:hover {
    color: var(--orange);
    background-color: transparent!important;
}
#main-nav .dropdown.active {
    color: var(--orange);
}
#main-nav .dropdown.active ul li a:hover {
    color: var(--orange)!important;
    background-color: transparent!important;
}
#main-nav .dropdown ul {
    background-color: transparent!important;
}
#main-nav .dropdown-item {
    padding: .2rem!important;
}
#main-nav .dropdown-toggle::after {
    vertical-align: 0;
}
#main-nav .dropdown:hover .dropdown-toggle::after {
    transform: rotate(-180deg);
     transform-origin: 50% 50%;
    /* vertical-align: -0.1em;
    margin-top: .1em;  */

}
#main-nav .active a {
    color: var(--orange);
}

}
        