/* Extra large devices (large desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    #main-nav .nav-div {
        width: 2px;
        height: 1rem;
        background-color: var(--yellow);
    }
    .logo-top {
        width: 200px;
    }
    #main-nav .active a {
        color: var(--blue);
   }
   #main-nav .active {
    background-color: var(--black);
}

 .dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    margin-top: 0;
    transition: all 0.3s ease;
}
#main-nav .nav-item.dropdown:hover a:not(#main-nav .nav-item.dropdown:hover ul li a) {
    color: var(--white);
}
#main-nav .nav-item.dropdown ul li a {
    color: var(--white);
}
#main-nav .nav-item.dropdown ul li a:hover {
    color: var(--orange);
    background-color: transparent!important;
}
#main-nav .dropdown.active {
    color: var(--orange);
}
#main-nav .dropdown.active ul li a:hover {
    color: var(--orange)!important;
    background-color: transparent!important;
}
#main-nav .dropdown ul {
    background-color: transparent!important;
}
#main-nav .dropdown-item {
    padding: .2rem!important;
}
#main-nav .dropdown-toggle::after {
    vertical-align: 0;
}
#main-nav .dropdown:hover .dropdown-toggle::after {
    transform: rotate(-180deg);
     transform-origin: 50% 50%;
    /* vertical-align: -0.1em;
    margin-top: .1em;  */

}
#main-nav .active a {
    color: var(--orange);
}

.hero .hero-svg {
    left: -5px;
    bottom: -3rem;
    width: 25rem;
}
.hero {
    height: 35rem;
}
.hero h1 {
font-size: 4rem;
}

.landing-cards .card h3 {
    transition: all .3s ease;
}
.landing-cards .card .card-body {
    transition: all .6s ease;
}

.landing-cards .card:hover .card-btn, .landing-cards .card.active .card-btn {
    visibility: hidden;
}
.landing-cards .card:hover h3, .landing-cards .card.active h3 {
    color: var(--white);
}

.title-container {
    top: 4rem;
    left: 0;
    padding-left: 26%;
    padding: 2.75rem 5rem 2.75rem 28%;
}
.title-container h2 {
    font-size: 2.875rem;
}

.about-us .text-col {
    /* margin-top: 8.25rem; */
    padding: 3rem 5rem 2rem 5rem;
}

}
        