/* Extra large devices (large monitors, 1600px and up) */

@media only screen and (min-width: 1900px) {
    .hero .hero-svg {
        left: -5vw;
        bottom: -8vw;
        width: 29rem;
    }
    .hero {
        height: 40rem;
    }
    .hero h1 {
        font-size: 6rem;
    }
    .title-container {
        padding: 3rem 5rem 3rem 31%;
    }
    .testimonials .title-container {
        padding: 2.5rem 4rem 2.5rem 26%;
    }
    .why-choose-us .title-container {
        padding: 2.5rem 4rem 2.5rem 26%;
    }
    

}