/* Extra large devices (large monitors, 1600px and up) */

@media only screen and (min-width: 2000px) {
    .hero .hero-svg {
        left: -5vw;
        bottom: -8vw;
        width: 29rem;
    }
    .hero {
        height: 40rem;
    }
    .hero h1 {
        font-size: 6rem;
    }
}